@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: "CouttsSiena";
  src: url("./../../assets/fonts/CouttsSiena/CouttsSienaWeb-ExtraLight.woff");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "CouttsSiena";
  src: url("./../../assets/fonts/CouttsSiena/CouttsSienaWeb-Light.woff");
}

@font-face {
  font-weight: $font-weight-regular;
  font-style: normal;
  font-family: "FSBrabo";
  src: url("./../../assets/fonts/FSBrabo/FSBraboWeb-Light.woff");
}

@font-face {
  font-weight: $font-weight-bold;
  font-style: normal;
  font-family: "FSBrabo";
  src: url("./../../assets/fonts/FSBrabo/FSBraboWeb-Regular.woff");
}

@font-face {
  font-weight: $font-weight-semi-bold;
  font-style: normal;
  font-family: "FSBrabo";
  src: url("./../../assets/fonts/FSBrabo/FSBraboWeb-Regular.woff");
}

@font-face {
  font-weight: $font-face-weight-regular;
  font-family: "OpenSans";
  font-style: normal;
  src: url("./../../assets/fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-weight: $font-face-weight-semi-bold;
  font-family: "OpenSans";
  font-style: normal;
  src: url("./../../assets/fonts/OpenSans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-weight: $font-face-weight-light;
  font-family: "CouttsSiena";
  font-style: normal;
  src: url("./../../assets/fonts/CouttsSiena/CouttsSiena-Light.otf");
}

@font-face {
  font-weight: 100;
  font-family: "Montserrat";
  font-style: normal;
  src: url("./../../assets/fonts/Montserrat/Montserrat-Thin.ttf");
}

@font-face {
  font-weight: 100;
  font-family: "Montserrat";
  font-style: italic;
  src: url("./../../assets/fonts/Montserrat/Montserrat-ThinItalic.ttf");
}

@font-face {
  font-weight: 200;
  font-family: "Montserrat";
  font-style: normal;
  src: url("./../../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-weight: 200;
  font-family: "Montserrat";
  font-style: italic;
  src: url("./../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
  font-weight: 300;
  font-family: "Montserrat";
  font-style: normal;
  src: url("./../../assets/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-weight: 300;
  font-family: "Montserrat";
  font-style: italic;
  src: url("./../../assets/fonts/Montserrat/Montserrat-LightItalic.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
  src: url("./../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: italic;
  src: url("./../../assets/fonts/Montserrat/Montserrat-Italic.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  src: url("./../../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Montserrat";
  font-style: italic;
  src: url("./../../assets/fonts/Montserrat/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  font-style: normal;
  src: url("./../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  font-style: italic;
  src: url("./../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
  font-weight: 100;
  font-family: "Jubilat";
  font-style: normal;
  src: url("./../../assets/fonts/Jubilat/JubilatMedium.otf");
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: "CouttsSienaExtraLight";
  src: url("./../../assets/fonts/CouttsSiena/CouttsSienaWeb-ExtraLight.woff");
}
