/// Global border radius base value
$border-radius: 24px;
$border-width: 2px;

/// Border radius circle
// $border-radius-circle:

/// 2 Base Radius/2 XS
// $border-radius-xs:

/// 2 Base Radius/3 Small
// $border-radius-sm:

/// 2 Base Radius/4 Medium
// $border-radius-md:

/// 2 Base Radius/5 Large
// $border-radius-lg:

/// Pill
// $border-radius-pill:

/// Global toggle to enable rounded corners
$border-radius-enabled: false;
