// Mega Menu container
// Outermost container for the actual menubar as well as loading indicators and other status messages.
.bb-mega-menu {
  background: $mega-menu-bg;
  color: $mega-menu-color;
  font-family: "CouttsSienaExtraLight";
  font-weight: $font-weight-heading;
  font-size: 18px;
  line-height: 1.66;
}

.bb-topbar__nav-expand-marker--horizontal-nav {
  color: $color-neutral-white;
}

.bb-mega-menu--mobile-sidebar {
  background-color: $color-secondary !important;
}

.bb-mega-menu__item {
  &:empty {
    display: none;
  }
}

.bb-mega-menu__link {
  text-transform: uppercase;
  color: $rbs-color-neutral-white !important;
  &.bb-mega-menu__link--active {
    color: $rbs-color-primary !important;
  }
}

.bb-page-layout__topbar {
  background-color: $color-secondary !important;
  .bb-topbar__content-area {
    bb-panel-container {
      bb-area {
        display: flex;
        align-items: center;
        .bb-icon-notifications {
          color: $rbs-color-neutral-lighter;
        }
        .bb-notifications-badge-widget__dropdown-button {
          border-radius: 40%;
          padding: 10px 20px;
          margin-right: 30px;
          &:focus {
            box-shadow: 0 0 0 1px #ddeaf6;
          }
        }
      }
    }
  }
}

.bb-mega-menu__items,
.bb-mega-menu__item,
.bb-mega-menu__link,
.bb-topbar__nav-expand-marker {
  &:focus {
    z-index: 9999;
    outline: $rbs-color-selected-default solid 2px;
  }
}
