/// box-shadow-sm-offset-x
$box-shadow-sm-offset-x: 0;

/// box-shadow-sm-offset-y
$box-shadow-sm-offset-y: 0;

/// box-shadow-sm-blur-radius
$box-shadow-sm-blur-radius: 0;

/// box-shadow-sm-spread-radius
$box-shadow-sm-spread-radius: 1px;

/// box-shadow-sm-color
// $box-shadow-sm-color:

/// box-shadow-md-offset-x
$box-shadow-md-offset-x: 0;

/// box-shadow-md-offset-y
$box-shadow-md-offset-y: 0;

/// box-shadow-md-blur-radius
$box-shadow-md-blur-radius: 0;

/// box-shadow-md-spread-radius
$box-shadow-md-spread-radius: 1px;

/// box-shadow-md-color
// $box-shadow-md-color:

/// box-shadow-lg-offset-x
$box-shadow-lg-offset-x: 0;

/// box-shadow-lg-offset-y
$box-shadow-lg-offset-y: 0;

/// box-shadow-lg-blur-radius
$box-shadow-lg-blur-radius: 0;

/// box-shadow-lg-spread-radius
$box-shadow-lg-spread-radius: 1px;

/// box-shadow-lg-color
// $box-shadow-lg-color:

/// box-shadow-xl-offset-x
$box-shadow-xl-offset-x: 0;

/// box-shadow-xl-offset-y
$box-shadow-xl-offset-y: 0;

/// box-shadow-xl-blur-radius
$box-shadow-xl-blur-radius: 0;

/// box-shadow-xl-spread-radius
$box-shadow-xl-spread-radius: 1px;

/// box-shadow-xl-color
// $box-shadow-xl-color:

$rbs-card-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.12);
