rbs-cta-buttons-widget {
  @media screen and (max-width: $screen-m) {
    .btn-group {
      display: flex;
      flex-direction: column;

      .btn {
        margin-bottom: $spacer-sm;
        justify-content: left;
      }
    }
  }

  @media screen and (min-width: $screen-m) {
    .btn {
      margin-right: $spacer-sm;
      margin-bottom: $spacer-md;
    }
  }
}
