// Global annotations
////
/// @group forms
/// @access private
////

.bb-input-password {
  .input-group-append {
    .btn:focus::before {
      border-radius: inherit;
    }
  }

  .bb-input-password__input {
    &[type="password"]:not(:placeholder-shown) {
      @-moz-document url-prefix() {
        font-family: Verdana, sans-serif;
        letter-spacing: 0.125rem;
        font-size-adjust: 0.4;
      }
    }

    &::-ms-reveal,
    &::-ms-clear {
      display: none;
    }
  }
}
