.arrow-up {
  background: url("../../../assets/icons/chevron.svg") no-repeat;
  background-size: cover;
  display: block;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.arrow-down {
  background: url("../../../assets/icons/chevron.svg") no-repeat;
  background-size: cover;
  display: block;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrow-right {
  background: url("../../../assets/icons/chevron.svg") no-repeat;
  background-size: cover;
  display: block;
  width: 24px;
  height: 24px;
}

.arrow-left {
  background: url("../../../assets/icons/chevron.svg") no-repeat;
  background-size: cover;
  display: block;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
