.ngx-charts .bar.active,
.ngx-charts .bar:hover,
.ngx-charts .cell.active,
.ngx-charts .cell:hover,
.ngx-charts .arc.active,
.ngx-charts .arc:hover,
.ngx-charts .card.active,
.ngx-charts .card:hover {
  opacity: 0.8;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.rbs-pie-chart {
  position: relative;
  display: flex;
  justify-content: center;

  .pie-label {
    font-size: 11px;

    &.animation {
      animation: 750ms ease-in fadeIn;

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  .pie-label-line {
    stroke-dasharray: 100%;

    &.animation {
      animation: 3s linear drawOut;
      transition: d 750ms;

      @keyframes drawOut {
        from {
          stroke-dashoffset: 100%;
        }
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}

.rbs-pie-chart-legend-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .legend-title {
    //
  }

  .legend-labels {
    height: 100%;

    :last-child,
    :last-child.active {
      border: none;
      margin-top: 0px;
    }

    .legend-label {
      border-left: none;
      border-right: none;
      display: flex;
      justify-content: space-between;

      &.active,
      &:hover {
        background-color: #f1f6fb;
      }

      rbs-content {
        width: 100%;
      }

      .legend-label-icon {
        flex-grow: 0;
        display: flex;
        align-items: center;
      }

      .rbs-text-decoration-none {
        color: #000;
      }

      .legend-label-entry {
        flex-grow: 1;

        .legend-label-text {
          display: flex;
          justify-content: space-between;
          font-weight: 300;
          padding-bottom: 0.25rem;
        }
      }
    }
  }
}
