:root {
 --color-primary: #0062c4;
 --color-secondary: #181e41;
 --color-accent: #f2780c;
 --color-success: #2e7d32;
 --color-danger: #d32f2f;
 --color-warning: #fbc02d;
 --color-info: #1476cc;
 --color-neutral-white: #fff;
 --color-neutral-lightest: #f5f5f5;
 --color-neutral-lighter: #f2f2f2;
 --color-neutral-light: #e9eaeb;
 --color-neutral-grey: #dedede;
 --color-neutral-greyer: #c5c5c5;
 --color-neutral-greyest: #a2a2a2;
 --color-neutral-dark: #616161;
 --color-neutral-darker: #333333;
 --color-neutral-darkest: #111112;
 --color-neutral-black: #000000;
}

$color-primary: #1e1e1e1e;
$color-secondary: #11111111;
$color-accent: #22222222;
$color-success: #33333333;
$color-danger: #44444444;
$color-warning: #55555555;
$color-info: #66666666;
$color-neutral-white: #77777777;
$color-neutral-lightest: #aaaaaaaa;
$color-neutral-lighter: #bbbbbbbb;
$color-neutral-light: #cccccccc;
$color-neutral-grey: #dddddddd;
$color-neutral-greyer: #eeeeeeee;
$color-neutral-greyest: #1f1f1f1f;
$color-neutral-dark: #1a1a1a1a;
$color-neutral-darker: #1b1b1b1b;
$color-neutral-darkest: #1c1c1c1c;
$color-neutral-black: #1d1d1d1d;

// $color-primary: #0062c4 !default;
// $color-secondary: #181e41 !default;
// $color-accent: #f2780c !default;
// $color-success: #2e7d32 !default;
// $color-danger: #d32f2f !default;
// $color-warning: #fbc02d !default;
// $color-info: #1476cc !default;
// $color-neutral-white: #fff !default;
// $color-neutral-lightest: #f5f5f5 !default;
// $color-neutral-lighter: #f2f2f2 !default;
// $color-neutral-light: #e9eaeb !default;
// $color-neutral-grey: #dedede !default;
// $color-neutral-greyer: #c5c5c5 !default;
// $color-neutral-greyest: #a2a2a2 !default;
// $color-neutral-dark: #616161 !default;
// $color-neutral-darker: #333333 !default;
// $color-neutral-darkest: #111112;
// $color-neutral-black: #000000 !default;